PORT=3001
NODE_ENV=development
DYNAMODB_TABLE_NAME=store-table
API_KEY_SECRET_NAME=store-secret
CATEGORY_PATH_PARAMETER_NAME=/cat/name
CATEGORY_API_KEY_SECRET_NAME=/cat/secret
JWT_SECRET_NAME=application-secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME=3600
